#ignored files:
uclaschedule.jpg
uclacover_1.jpg
uclacover_2.jpg
uclacover_3.jpg
uclacountdown.jpg
uclacountdown1.jpg
uclacover_4.jpg
uclacover_5.jpg
uclacover_6.jpg
uclaepssci3_1.jpg
uclaepssci3_2.jpg
fall17schedule.jpg
winter18schedule.jpg
spring18schedule.jpg
fall18schedule.jpg
spring19schedule.jpg
winter19schedule.jpg
EXPT0.pdf
EXPT1.pdf
EXPT2.pdf
EXPT3.pdf
EXPT4.pdf
EXPT5.pdf
EXPT6_7.pdf
Lab1Report.pdf
