#ignored files:
uclaschedule.jpg
uclacover_1.jpg
uclacountdown.jpg uclacountdown1.jpg uclacover_1.jpg uclacover_2.jpg uclacover_3.jpg uclacover_4.jpg uclacover_5.jpg uclacover_6.jpg uclaepssci3_1.jpg uclaepssci3_2.jpg uclaphysics1c_w21.jpg uclaphysics1c_w22.jpg uclaphysics1c_w23.jpg uclaphysics1c_w24.jpg uclaphysics1c_w31.jpg uclaphysics1c_w32.jpg uclaportrait.jpg uclaschedule.jpg uclavolunteer.jpg
uclacover_1.jpg
uclacover_2.jpg
uclacover_3.jpg
uclacountdown.jpg
uclacountdown1.jpg
uclaphysics1c_w21.jpg
uclaphysics1c_w22.jpg
uclaphysics1c_w23.jpg
