#ignored files:
uclaschedule.jpg
uclacover_1.jpg
uclacover_2.jpg
uclacover_3.jpg
uclacountdown.jpg
uclacountdown1.jpg
uclacover_4.jpg
uclacover_5.jpg
uclacover_6.jpg
uclaepssci3_1.jpg
uclaepssci3_2.jpg
fall17schedule.jpg
winter18schedule.jpg
